{% extends 'event/base.html' %}

{% block content %}
    
    {% if searched %}
            <h1>you searched for {{ searched }}</h1>
            <br>
        {% for venue in venues %}    
            <div class="card">
                <h5 class="card-header">venue</h5>
            <div class="card-body">
              <h5 class="card-title"> {{venue}} </h5>
              <p class="card-text">
                
                {{venue.address}} <br>
                {{venue.phone}} <br>
                <a href="{{venue.website}}">{{venue.website}}</a> <br>
                {{venue.email}} <br>
                Owner ID: {{ venue.owner }}<br>
        
              </p>
              
            </div>
          </div>
          <br> <br>
           
        {% endfor %}
        {% else %}
            <h1>you forgot to search</h1>
        {% endif %}



{% endblock  %}
