{% extends 'event/base.html' %}

{% block content %}


<div class="card">
    <h5 class="card-header">venue</h5>
    <div class="card-body">
      <h5 class="card-title"> {{venue}} </h5>
      <p class="card-text">
        
        {{venue.address}} <br>
        {{venue.phone}} <br>
        <a href="{{venue.website}}">{{venue.website}}</a> <br>
        {{venue.email}} <br>
        Owner: {{ venue_owner }}<br>

        <br> <br>

        {% if venue.venue_image %}
         <img src="{{ venue.venue_image.url }}" width="500"> 
        {% endif %}

      </p>
      
    </div>
  </div>
	


    
    

{% endblock %}